{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<style>
    div.container {
    width:95%; 
  }
  .errorsList {
    margin-left: 70px;
    font-size: large;
    font-family: Courier New;
  }

</style>
{% endblock %}
<script>

</script>

{% block content %}
<body>
    <br>
    <div class="table-responsive container">
        <h1> {{ defaultMessage }} </h1>
        <br>
        <br>
        <h2> {{ database }} </h2>
        <br>
        <table
            class="table table-striped"
            id="data-table"
            data-toggle="table"
            style='font-family:"Courier New"; font-size:large'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col" data-field="blank">

                    </th>
                    <th scope="col" data-field="urls-checked">
                        URL's checked
                    </th>
                    <th scope="col" data-field="failed-checks">
                        Failures
                    </th>
                    <th colspan="3" scope="colgroup">
                        Time
                    </th>
                </tr>
            </thead>
            {% if tablesToShow.first %}
            <tbody>
                <tr>
                    <th rowspan="3" scope = "rowgroup">
                        Checks Currently Running
                    </th>
                    <td>
                        {{ currentlyRunningChecksTable.runningChecks }} / {{ nrUrls }}
                    </td>
                    <td>
                        {{ currentlyRunningChecksTable.failedChecks }} / {{ nrUrls }}
                    </td>
                    <td>
                        {% set time = currentlyRunningChecksTable.duration %}
                        Run for {{ (time/ 3600) |int }}h {{ ((time % 3600) / 60) |round|int }}m {{ (time % 60) |round|int }}s
                    </td>
                </tr>
            </tbody>
            {% endif %}
            {% if tablesToShow.retries %}
                {% for row in currentlyRunningRetriesTable.retries %}
                    <tbody>
                        <tr>
                            <th rowspan="4" scope = "rowgroup">
                                Retries Currently Running - Retry nr. {{ loop.index }}
                            </th>
                            <td>
                                {% if loop.index0 == 0 %}
                                    {{ row.success + row.fail }} / {{ currentlyRunningChecksTable.failedChecks }}
                                {% else %}
                                    {{ row.success + row.fail }} / {{ currentlyRunningRetriesTable.retries[loop.index0 - 1].fail }}
                                {% endif %}
                            </td>
                            <td>
                                {% if loop.index0 == 0 %}
                                    {{ row.fail }} / {{ currentlyRunningChecksTable.failedChecks }}
                                {% else %}
                                    {{ row.fail }} / {{ currentlyRunningRetriesTable.retries[loop.index0 - 1].fail }}
                                {% endif %}
                            </td>
                            <td>
                                {% set time = row.duration %}
                                Run for {{ (time/ 3600) |int }}h {{ ((time % 3600) / 60) |round|int }}m {{ (time % 60) |round|int }}s
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>

    <br>
    <br>
    {% if tablesToShow.finish %}
    <div class="table-responsive container">
        <table
            class="table table-striped"
            id="data-table"
            data-toggle="table"
            style='font-family:"Courier New"; font-size:large'>
            <thead class="thead-dark">
                <tr>
                    <th scope="col" data-field="blank">

                    </th>
                    <th scope="col" data-field="active-checks">
                        Start Time
                    </th>
                    <th scope="col" data-field="failed-checks">
                        Total Running Time
                    </th>
                    <th scope="col" data-field="failed-checks">
                        Successful Checks / Total
                    </th>
                    <th colspan="4" scope="colgroup">
                        Errors
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="4" scope = "rowgroup">
                        Last Performed
                    </th>
                    <td>
                        {{ moment(startTime).format('MMMM Do YYYY, h:mm:ss a') }}
                    </td>
                    <td>
                        {% set time = totalRunningTime %}
                        Run for {{ (time/ 3600) |int }}h {{ ((time % 3600) / 60) |round|int }}m {{ (time % 60) |round|int }}s
                    </td>
                    <td>
                       {{ countSuccess }} / {{ nrUrls }}
                    </td>
                    <td>
                        {{ nrUrls - countSuccess }} / {{ nrUrls }}
                    </td>
            </tbody>
        </table>
    </div>

    <br>
    <div class="errorsList">
        <h4> Urls that failed (and remained unsuccessful even after the last retry): </h4>
        <br>
        {% if currentlyRunningRetriesTable.retries[2].failedUrls.size > 0 %}
            {% for url in currentlyRunningRetriesTable.retries[2].failedUrls %}
                    <ul>
                        <li>
                            {{ url }}
                        </li>
                    </ul>
            {% endfor %}
        {% else %}
        <p> No failed urls. </p>
        {% endif %}
    </div>

    {% endif %}
    <br>
    <br>

    
    
    

    
</body>
{% endblock %}

